<% include partials/header%>

<h1 id="header">Wake up sunshine!</h1>
<iframe id="wake" width="560" height="315" src="https://www.youtube.com/embed/kffacxfA7G4?autoplay=1&loop=1&playlist=kffacxfA7G4" frameborder="0" allowfullscreen></iframe>
 
<% include partials/footer %>